
@font-face {
    font-family: Inter;
    src: url(../font/Inter-VariableFont.ttf);
}

// primary
$soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// neutral
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);


$font-weights: (
    "regular": 400, 
    "medium": 700,
    "bold":  800
);


@function getWeight($weight){
    @return map-get($font-weights, $weight )
}